@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Lobster+Two';

body{
    background: rgb(30, 30, 30);
}

.container{
    width: 50%;
    height: auto;
    background: rgb(255, 109, 0);
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Lobster Two', cursive;
}

h1{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

.cc_sec_placeholder{
    display: flex;
    flex-direction: row;
}

.security_placeholder{
    margin-left: 5px;
}

input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background: rgba(244, 244, 244, 0.51);
}

label{
    font-size: 14px;
}

input[type="text"]{
    margin-bottom: 10px;
}

.exp_placeholder{
    margin-top: 10px;
}

button{
    padding: 10px;
    font-size: 20px;
    background: orangered;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    color: #dcdcdc;
    font-family: 'Lobster Two', cursive;
}

button:hover{
    background: rgba(255, 69, 0, 0.54);
}

.back-to-main{
    position: relative;
    clear: both;
    text-align: center;
    top: 30px;
    margin-bottom: 20px;
}
.back-to-main > a{
    text-decoration: none;
    color: #d40000;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 2px;
    padding: 10px;
}

.back-to-main > a:hover{
    color: white;
    background-color: red;
    border-radius: 5px;
}